<div class='doclare-box-info'>
    <div class='doclare-logo'>
        <a href='' target='_blank'>
            <img src='https://order.doclare.com/images/logo.png' style="with:50px; height:50px" />
        </a>
    </div>
    <div class='doclare-basic-info'>
        <ul>
            <li>Giá bán: <span id='sell_price' class='text-doclare'></span></li>
            <li>Tỷ giá 1<span class='doclare-yen'>¥</span>: <span id='exchange_rate' class='text-doclare'></span>
            </li>
            <li>Còn <span id='stock' class='text-doclare'></span> sản phẩm</li>
        </ul>
    </div>
    <div class='doclare-warning hidden'></div>
    <div class='doclare-advanced-info hidden'>
        <table>
            <thead>
                <tr>
                    <th>Điều kiện mua</th>
                    <th>Giá</th>
                </tr>
            </thead>
            <tbody class='doclare-1688-price'>
            </tbody>
        </table>
    </div>
    <div class='doclare-note'>
        <textarea id='doclare-textarea' placeholder='Ghi chú sản phẩm' rows='3' maxlength='2000'></textarea>
    </div>
</div>