<div class='DLRModal fade in' id='myDLRModal-order' style='z-index: 9999999999'>
    <div class='DLRModal-dialog' role='document'>
        <div class='DLRModal-content DLRModal-cp'>
            <div class='DLRModal-header'>
                <button type='button' class='close' data-dismiss='DLRModal' aria-label='Close'></button>
                <h4 class='DLRModal-title text-success text-uppercase' id='myDLRModalLabel' style='font-weight: bold'>Thêm vào giỏ hàng thành công</h4>
            </div>
            <div class='DLRModal-body' style='min-height: auto'>
                <div class='box-deposit pd15 row'>
                    <div class='ls-deposit'>
                        <p></p>
                    </div>
                    <br>
                    <div class='ls-warning'>
                        <p>CHÚNG TÔI KHUYẾN CÁO BẠN KHÔNG NÊN DÙNG GOOGLE DỊCH KHI ĐẶT HÀNG.</p>
                        <p>KHI SỬ DỤNG GOOGLE DỊCH THÔNG TIN SẢN PHẨM CỦA SHOP/SẢN PHẨM SẼ BỊ SAI LỆCH VÀ ĐƠN HÀNG CÓ THỂ BỊ HUỶ</p>
                    </div>
                </div>
            </div>
            <div class='DLRModal-footer'>
                <a href='#' type='button' class='btn btn-doclare' data-dismiss='DLRModal'>Tiếp tục mua hàng</a>
                <a href='' type='button' class='btn btn-default' target='_blank'>Vào giỏ hàng</a>
            </div>
        </div>
    </div>
</div>